<footer class="page-footer font-small unique-color-dark pt-4">

    <div class="container">

        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">About page </h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-outline-white btn-rounded">Contact us</a>
            </li>
        </ul>

    </div>

</footer>