<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Cloth Nappy Exchange</h1>
            <p>This is a place where you can register your interest to try cloth nappies or donate unused cloth nappies.
                Check out the links below for more information.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">About</a>
            </p>
        </div>
    </div>
</main>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Need nappies</h2>
            <p>"Ever wanted to try cloth nappies but been put off by the initial investment. Nows your chance to
                register your interest to use second hand cloth nappies to start you on your cloth nappy journey.""
            </p>
            <p>
                <a class="btn btn-secondary" href="/want" role="button">Want cloth nappies >></a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Donate nappies</h2>
            <p>"Do you have plenty of spare cloth nappies that are in good condition and arent being used. Now is your
                chance
                to help get someone onto the cloth nappy train.""
            </p>
            <p>
                <a class="btn btn-secondary" href="../have" role="button">Want cloth nappies >></a>
            </p>
        </div>
        {{!-- <div class="col-md-4">
            <h2>About</h2>
            <p>"Click here to learn more information about the exchange"
            </p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">About >></a>
            </p>
        </div> --}}
    </div>
</div>