<div>

    <div>
        <h1>I want cloth nappies</h1>
        <p>If you would love to give cloth nappies a try but dont want to invest in
            brand new set before you give it a try you can register your interest below or
            link up with someone donating below
        </p>
    </div>
    <div>
        <h2>Register your interest</h2>
        <p>Place your name and information below</p>
        <form class="form newComment">
            <label for="name" class="form-item">
                Your Name:
                <input type="text" name="name" value="">
            </label>
            <label for="name" class="form-item">
                Location (NZ only):
                <input type="text" name="name" value="">
            </label>
            <label for="name" class="form-item">
                Age of child:
                <input type="text" name="name" value="">
            </label>
            <label for="name" class="form-item">
                Other notes (e.g swim nappies, night nappies):
                <input type="text" name="name" value="">
            </label>
        </form>
    </div>

    <div>
        <h2>See donations below</h2>
        <p>Click on the "yes please" button to claim the donated nappy. You will get redirected
            to information about how to claim the nappy
        </p>
    </div>
</div>