<div>

    <div>
        <h1>I want cloth nappies</h1>
        <p>If you would love to give cloth nappies a try but dont want to invest in
            brand new set before you give it a try you can register your interest below or
            link up with someone donating below. Please read the information under register your interest
            for more details before posting
        </p>
    </div>
    <div>
        <div>
            <h2>Register your interest</h2>
            <p>Place your name and information below</p>
            <form class="form newComment" action="/want" method="post">
                <label for="name" class="form-item">
                    Your Name:
                    <input type="text" name="name" value="">
                </label>
                <label for="location" class="form-item">
                    Location (NZ only):
                    <input type="text" name="location" value="">
                </label>
                <label for="age" class="form-item">
                    Age of child:
                    <input type="text" name="age" value="">
                </label>
                <label for="email" class="form-item">
                    Email address (this wont show until donator clicks donate on your listing):
                    <input type="text" name="email" value="">
                </label>
                <label for="notes" class="form-item">
                    Other notes (e.g swim nappies, night nappies):
                    <input type="text" name="notes" value="">
                </label>
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>

        <div>
            <h3>Notes about registering interest</h3>
            <p>Input your name and age of child/ren.
                Your email address wont show up on the want listing page. It will remain hidden until
                the donator clicks accept on your listing. When they accept your listing they will get
                an email with your details and you with theirs to organise pick up/delivery of the nappies
            </p>
        </div>
    </div>

    <div>
        <h2>See donations below</h2>
        <p>Click on the "yes please" button to claim the donated nappy. You will get redirected
            to information about how to claim the nappy
        </p>
        <p>This will display from the donate page</p>
        <img src=".png">
        <h3>Location</h3>
        <h4>Description</h4>
        <button>Yes Please</button>
    </div>
</div>